<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Testing OrangeHRM Site">
    <parameter name="URL" value="https://opensource-demo.orangehrmlive.com/"/>
    <test name="LoginTestsCase">
        <parameter name="browser" value="Chrome"/>
        <classes >
            <!--LOGIN TEST-->
            <class name="login.LoginTests">
                <methods>
                    <include name="testLoginInsertCorrectUsernameAndPassword"/>
                    <include name="testLoginInsertCorrectUsernameAndWrongPassword"/>
                    <include name="testLoginInsertWrongUsernameAndWrongPassword"/>
                    <include name="testLoginInsertUsernameOnly"/>
                    <include name="testLoginInsertPasswordOnly"/>
                    <include name="testLoginWithoutInsertUsernameAndPassword"/>
                </methods>
            </class>

            <!--FORGOT PASSWORD TEST-->
            <class name="forgotpassword.ForgotPasswordTests">
                <methods>
                    <include name="testForgotPasswordWithCorrectUsername"/>
                    <include name="testForgotPasswordWithCorrectUsernameMultipleTry"/>
                    <include name="testForgotPasswordWithWrongUsername"/>
                    <include name="testForgotPasswordWithEmptyUsername"/>
                    <include name="testCancelForgotPassword"/>
                </methods>
            </class>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->